/* page color styling - color option №1
:root {
    --head-color: #c91313;
    --main-color: #FF5B00;
    --aux-color1: #D4D925;
    --aux-color2: #fff5aa;
    --main-font-color: #000;
    --contrast-font-color: #000;
}

/* color option №2 */
:root {
    --head-color: #F15412;
    --main-color: #000;
    --aux-color1: #34B3F1;
    --aux-color2: #EEEEEE;
    --main-font-color: #EEEEEE;
    --contrast-font-color: #000;
}
*/

/* color option №3
:root {
    --head-color: #2C3639;
    --main-color: #3F4E4F;
    --aux-color1: #A27B5C;
    --aux-color2: #DCD7C9;
    --main-font-color: #DCD7C9;
    --contrast-font-color: #2C3639;
}
*/

/* color option №4
:root {
    --head-color: #665d83;
    --main-color: #5B7DB1;
    --aux-color1: #61A4BC;
    --aux-color2: #F7E2E2;
    --main-font-color: #F7E2E2;
    --contrast-font-color: #1A132F;
}
*/

body {
    background-color: rgb(189, 189, 189);
}

#contener_centered {
    width: 80%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 0.1% 2% 1% 2%;
    background-color: var(--aux-color2);
    box-shadow: 0 0 5px 2px var(--aux-color1), 0 4px 30px 10px var(--main-color);
    overflow: auto;
    font-family: 'Kdam Thmor Pro', sans-serif;
    box-sizing: border-box;
}

header {
    background-color: var(--head-color);
    color: var(--aux-color2);
    box-sizing: border-box;
    height: 19vw;
    padding: 1vw;
    padding-left: 3vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
}
/*
    If an element is taller than the element containing it, and it is floated,
    it will overflow outside of its container.
    "clearfix hack" to fix this.
*/
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

#selfy {
    width: 15vw;
    height: 15vw;
    margin: 1vw 3vw 0 0;
    border-radius: 50%;
    float: left;
    box-shadow: 0px 0px 0vw 0.5vw var(--aux-color2);
}

h1 {
    padding: 2.0vw 0 0 1vw;
    margin-bottom: 0;
    font-size: 3vw;
}

header h3 {
    padding: 2.0vw 0 0 1vw;
    margin-top: 0;
    font-size: 1.5vw;
}

.column {
    float: left;
    box-sizing: border-box;
    padding-left: 3%;
    padding-right: 1%;
}

.main {
    width: 60%;
    background-color: var(--main-color);
    color: var(--main-font-color);
    padding-bottom: 1.5vw;
}

.side {
    width: 38%;
    background-color: var(--aux-color1);
    color: var(--contrast-font-color);
    margin-left: 2%;
    padding-bottom: 1.5vw;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
    margin: 1%;
  }

h2 {
    text-transform: uppercase;
    font-size: 1.5vw;
}

h3 {
    text-transform: uppercase;
    font-size: 1vw;
}

summary {
    text-transform: uppercase;
    padding: 0.3vw 0 0.3vw 0;
    margin: 0 2vw 0 1vw;
    font-size: 1vw;
    font-weight: bold;
    cursor: pointer;
}

summary:hover {
    font-size: 1.1vw;
}

summary::marker {
    margin-right: 10vw;
}

p {font-size: 1.2vw;}

ul {
    padding-left: 0;
    padding-top: 0;
    margin: 0 2vw 0 2.5vw;
}

#courses li a {
    display: flex;
    align-items: center;
}

.side ul {
    margin: 0 2vw 0 2.0vw;
}

#languges ul {
    margin: 0 2vw 0 3.8vw;
}

li {font-size: 1.2vw;
    padding: 0.2vw 0 0.2vw 0;
}

a:link {color: var(--main-font-color);}

a:visited {color: var(--main-font-color);}

a:hover {
    font-size: 1.25vw;
    color: var(--main-font-color);
}

a:active {color: var(--main-font-color);}

.side a:link {color: var(--contrast-font-color);}

.side a:visited {color: var(--contrast-font-color);}

.side a:hover {
    font-size: 1.3vw;
    color: var(--contrast-font-color);
}

.side a:active {color: var(--contrast-font-color);}

.material-icons {
    margin-right: 0.5vw;
}

li .material-icons {
    color: var(--main-font-color);
    font-size: 1.3vw;
}

h2 .material-icons {
    color: var(--aux-color2);
    font-size: 1.7vw;
}

#contacts ul, #skills ul {
    list-style: none;
}

#languges li::marker {color: var(--main-font-color);}

p {
    text-align: justify;
    padding-right: 2vw;
}

pre {
    font-size: 0.85vw;
    padding: 0;
    margin: 0;
}

.code-exmpl {
    line-height: 1vw;
    background-color: var(--aux-color2);
    color: var(--contrast-font-color);
    padding: 1vw 1vw 1vw 2vw;
    margin: 0 2vw 0 0;
    display: block;
    overflow: auto;
    box-shadow: 0 0px 3px 5px var(--main-color) inset, 0 0px 10px 5px var(--head-color) inset;
}

.languge {
    font-style: normal;
    font-weight: bold;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw;
    font-size: 1.2vw;
    color: var(--aux-color2);
    background-color: var(--head-color);
}

footer a {
    color: var(--aux-color2);
    font-size: 1.2vw;
    background-color: var(--head-color);
}

#github-logo {
    width: 3.5vw;
    height: 3.5vw;
    fill: var(--aux-color2);
    padding: 0;
    margin: 0;
    vertical-align: middle;
}

#rss-logo {
    width: 6.5vw;
    height: 3vw;
    padding: 0;
    margin: 0;
    vertical-align: middle;
}

p.foot-block {
    display: inline-block;
}

.anchor:link, .anchor:visited {
    font-size: 1.2vw;
    margin: 0;
    padding: 0;
    color: var(--aux-color2);
    text-decoration: none;
}

.anchor:hover, a:active {
    color: var(--aux-color2);
    text-decoration: none;
}

/*Responsive layout - when the screen is less than 600px wide,
 make the two columns stack on top of each other instead of next to each other
*/
@media screen and (max-width: 600px) {
    #contener_centered {
        width: 90%;
    }

    .column {
      width: 100%;
      padding: 1% 1% 3% 5%;
      margin: 0;
    }

    h1 {
        font-size: 4vw;
        padding: 0vw 0 0 20vw;
    }
    h2 {
        font-size: 3vw;
    }
    h3, p {
        font-size: 2.5vw;
    }
    header h3 {
        padding: 1vw 0 0 20vw;
        margin-top: 0;
        font-size: 2.5vw;
    }
    summary, summary:hover {
        font-size: 2vw;
    }

    a:hover {
        font-size: 2.6vw;
    }

    pre {
        line-height: 2vw;
        font-size: 1.3vw;
        padding: 2vw 0 0 2vw;
    }
    ul {
        margin: 0 2vw 0 5vw;
    }
    #languges ul {
        margin: 0 2vw 0 6vw;
    }
    li {font-size: 2.5vw};
    footer {
        padding: 0 1vw 0 1vw;
    }
    p.foot-block {font-size: 1.7vw;}

    .anchor:link, .anchor:visited {
        font-size: 1.7vw;
    }
    h2 .material-icons {
        font-size: 3.4vw;
    }
    li .material-icons {
        font-size: 2.6vw;
    }

  }

/* --- Indicators and animation --- */

#codewars-status-bar {
    width: 20vw;
    height: 1.3vw;
    margin-left: 1.5vw;
}

#codewars-status-bar img {
    width: 100%;
    height: auto;
    display: inline-block;
}

.indicator {
    display: inline-block;
    width: 8vw;
    height: 1vw;
    margin: 0.1vw 1.5vw 0 1.5vw;
    background-color: var(--aux-color2);
  }

#indicator-course-1 {
    width: 7.8vw;
    height: 1vw;
    background-color: var(--aux-color1);
}

#indicator-course-2 {
    width: 7.8vw;
    height: 1vw;
    background-color: var(--aux-color1);
}

#indicator-course-3 {
    width: 2.8vw;
    height: 1vw;
    background-color: var(--aux-color1);
    animation-name: indicator;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

:root {
    animation-name: style-changer-1;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-delay: 10s;
}

* {
    transition: background-color 4s, color 1s, box-shadow 4s;
    transition-timing-function: linear;
}

@keyframes indicator {
    0% {width: 1.8vw;}
    100% {width: 2.8vw;}
}

@keyframes style-changer-1 {
    20% {
        --head-color: #665d83;
        --main-color: #5B7DB1;
        --aux-color1: #61A4BC;
        --aux-color2: #F7E2E2;
        --main-font-color: #F7E2E2;
        --contrast-font-color: #1A132F;
    }
    40% {
        --head-color: #c91313;
        --main-color: #FF5B00;
        --aux-color1: #D4D925;
        --aux-color2: #fff5aa;
        --main-font-color: #000;
        --contrast-font-color: #000;
}
    60% {
        --head-color: #e76f51;
        --main-color: #2a9d8f;
        --aux-color1: #f4a261;
        --aux-color2: #fff1cc;
        --main-font-color: #fff1cc;
        --contrast-font-color: #264653;
}
    80% {
        --head-color: #041562;
        --main-color: #11468F;
        --aux-color1: #DA1212;
        --aux-color2: #EEEEEE;
        --main-font-color: #EEEEEE;
        --contrast-font-color: #041562;
}
    100% {
        --head-color: #F15412;
        --main-color: #000;
        --aux-color1: #34B3F1;
        --aux-color2: #EEEEEE;
        --main-font-color: #EEEEEE;
        --contrast-font-color: #000;
}
}